- if transactions.respond_to?(:total_pages)
  = will_paginate transactions
%table.table.tr-table
  %colgroup
    %col.indent-col
    %col.indent-col
  %thead
    %tr
      %th{ colspan: 3 } Type
      - if current_merchant.admin?
        %th Merchant
      %th Amount
      %th Status
      %th Customer email
      %th UUID
      %th Referred UUID
      %th Created at
      %th

  %tbody
    - transactions.each do |transaction|
      %tr{ class: transaction.css_classes }
        - colspan = 3
        - if type_indent
          - colspan -= transaction.hierarchy_level
          - if colspan <= 2
            %td.bg-wh
          - if colspan < 2
            %td.bg-wh
        %td{ colspan: colspan }= transaction.type
        - if current_merchant.admin?
          %td= link_to transaction.merchant.name_and_email, transaction.merchant
        %td= transaction.amount
        %td= transaction.status
        %td= transaction.customer_email
        %td= transaction.uuid
        %td
          - if transaction.parent_transaction
            = link_to transaction.parent_transaction.uuid, transaction_path(transaction.parent_transaction)
        %td= transaction.created_at
        %td= link_to 'Show', transaction_path(transaction)
- if transactions.respond_to?(:total_pages)
  = will_paginate transactions
