%h1= "Listing transactions#{" of #{@merchant.name_and_email}" if @merchant}"
%hr
- if @transactions.length > 0
  %h4<
    #{pluralize(@transactions.total_entries, 'Transaction')}
    - if @transactions.total_pages > 1
      %span.normal= ", #{@transactions.length} displayed"
  = render partial: 'table'
- else
  %p No transactions found
- if current_merchant.admin?
  = link_to 'Merchants', merchants_path
